{% extends '::base.html.twig' %}

{% block title %}TaskPlanerBundle:Category:show{% endblock %}

{% block body %}
    <h1>There are your categories:</h1>
    <p>Category title: {{ category.title }}</p>
{% endblock %}



